@charset "UTF-8";
/* Pixel */

/* HTML */
html {overflow-x: hidden; position: relative;
    min-height: 100%;}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'm-regular';
}

/* Typo */
@font-face {
    font-family: 'm-regular';
    src: url('../fonts/montserrat-regular.woff2') format('woff2'), url('../fonts/montserrat-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'm-medium';
    src: url('../fonts/montserrat-medium.woff2') format('woff2'), url('../fonts/montserrat-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'm-bold';
    src: url('../fonts/montserrat-bold.woff2') format('woff2'), url('../fonts/montserrat-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'm-black';
    src: url('../fonts/montserrat-black.woff2') format('woff2'), url('../fonts/montserrat-black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* End Typo */

.regular{ font-family: 'm-regular';}
.medium{ font-family: 'm-medium';}
.bold{ font-family: 'm-bold';}
.black{ font-family: 'm-black';}

/* Estilos Top */
.top-bar-menu li {  font-size: 12px;  padding: 20px 0 0 15px; display: inline-block; text-decoration: none;
    list-style: none;}

.top-header .link { text-decoration: none; list-style: none;  color: darkslategray; font-family: 'm-medium';}
.top-header .iconos-nav ul li {  display: inline-block; padding: 15px 0 0 15px; }

.top-header .btn-topbar {
    background-color: rgb(94, 94, 223);
    border: 1px solid rgb(94, 94, 223) ;
    color:white;
    padding: 5px 15px 5px 15px;
    border-radius: 3px;
    font-family: 'm-bold';
}
.top-header .btn-topbar:hover {
    background-color: transparent;
    border: 1px solid rgb(94, 94, 223) ;
    color:rgb(94, 94, 223);
    padding: 5px 15px 5px 15px;
    border-radius: 3px;
    transition: 0.5s;

}

.top-header .dropdown-toggle { background-color: transparent;  border: none; color: black;}
.top-header .dropdown-menu.show{ margin-top: 2px;}
.top-header .dropdown-toggle:hover { background-color: transparent; border: none; color: black;}

.top-header .top-bar ul{ padding: 0;}
.top-header .iconos-nav ul{ float: right; padding-right: 15px; }

/* Fin Top */

/* NavBar Principal */
.main-header { height: 150px;  box-shadow: 0px 6px 5px -6px lightgray;}

.navbar-collapse {  margin-left: 0px;}

.nav-item { margin-left: 15px; font-size:.8rem;}

.nav-link { color: darkslategray;  font-family: 'm-bold';}

.dropdown-menu {
    font-size:.8rem;
    padding: 5px;
}

.dropdown-item {
    padding-bottom: 15px;
    padding-top: 15px;
    color: darkslategray;
    font-family: 'm-bold';
}

a {
    text-decoration: none;
}

.btn-outline-success {
    background-color: transparent;
    border: 1px solid rgb(94, 94, 223);
    color:rgb(94, 94, 223);
    padding: 0px 10px 0px 10px;
    border-radius: 3px;
    font-family: 'm-bold';
    font-size: .8rem;
    margin-right: 10px;
    margin-left: 45px;
}

.btn-outline-success:hover {
    background-color: rgb(94, 94, 223);
    border: 1px solid rgb(94, 94, 223);
    color: white;
    transition: 0.5s;
}

/* End Header */



/* Footer */

.sin-padding{ padding: 0;}

.footer{ padding: 15px 30px;}
.footer p{ font-size: .9rem;}

.footer, .copyright { background-color: #6c6e71; color: #fff;}
.footer ul, .copyright ul{ list-style: none; color: #fff; padding: 0;}
.footer ul{ font-size:.9rem;}
.footer  ul li a{ color: #fff;;}
.footer ul p{ font-size: .9rem; }

.footer .items-nav{ display: flex; justify-content: space-between;}
.footer .items-nav ul{ padding: 0;}
.footer .items-nav ul li{ padding-right:10px; padding-bottom: 10px;} 

.footer .btn-apps .btn a{ font-size: .9rem;}
.footer .btn-apps .btn{ padding: 3px 20px; margin-right: 8px;}

.footer .btn{ border: 1px solid #fff; }
.footer .btn a{ color: #fff; font-family: 'm-medium'; }
.footer .btn a:hover { color: #fff; opacity: .75;}

.footer .contactanos h4{ font-size: 1.05rem; font-family: 'm-medium'; margin-bottom: 20px;}
.footer .contactanos{ position: relative;}
.footer .contactanos::after {
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    position: absolute;
    top: 5px;
    left: -5px;
    background-color: #fff; 
}

.copyright { padding: 0 30px;}
.copyright ul { display: flex; justify-content: center; }
.copyright ul li a{ padding-right: 10px; color: #fff; font-size:.85rem;}
.copyright ul li{ font-size:.85rem;}

.copyright .redes-sociales ul{ justify-content: right; float: right;}
.copyright .redes-sociales ul li{ padding: 0 5px}
.copyright .redes-sociales ul li a:hover{ opacity: .75;} 
.copyright .items-politicas ul{ justify-content: left;}

/* End Footer */