@charset "UTF-8";
/*! Pixel */

/* HTML */
html {overflow-x: hidden; position: relative;
    min-height: 100%;}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'm-regular';
}

/* Typo */
@font-face {
    font-family: 'm-regular';
    src: url('../fonts/montserrat-regular.woff2') format('woff2'), url('../fonts/montserrat-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'm-medium';
    src: url('../fonts/montserrat-medium.woff2') format('woff2'), url('../fonts/montserrat-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'm-bold';
    src: url('../fonts/montserrat-bold.woff2') format('woff2'), url('../fonts/montserrat-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'm-black';
    src: url('../fonts/montserrat-black.woff2') format('woff2'), url('../fonts/montserrat-black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* End Typo */

.regular{ font-family: 'm-regular';}
.medium{ font-family: 'm-medium';}
.bold{ font-family: 'm-bold';}
.black{ font-family: 'm-black';}


/* Header */

#header {
    width: 100%;
    height: 60px;
}

/* Estilos del Top Bar */

.navbar {
    list-style: none;
    font-size: 12px;
    padding: 20px 15px 0px 15px;
    
}

.link {
    text-decoration: none;
    list-style: none;
    color: darkslategray;
    font-family: 'm-medium';
    
}

li {
    text-decoration: none;
    list-style: none;
}

.iconos-nav ul li {
    display: inline-block;
    padding: 15px 15px 0px 15px;

}

.btn-topbar {
    background-color: rgb(94, 94, 223);
    border: 1px solid rgb(94, 94, 223) ;
    color:white;
    padding: 5px 15px 5px 15px;
    border-radius: 3px;

}

.btn-topbar:hover {
    background-color: transparent;
    border: 1px solid rgb(94, 94, 223) ;
    color:rgb(94, 94, 223);
    padding: 5px 15px 5px 15px;
    border-radius: 3px;
    transition: 0.5s;
}

.dropdown-toggle {
    background-color: transparent;
    border: none;
    color: black;
}

.dropdown-toggle:hover {
    background-color: transparent;
    border: none;
    color: black;
}

/* Estilos del Header Principal */

.main-header {
    width: 100%;
    height: 140px;
    box-shadow: 0px 6px 5px -6px lightgray;
}

#logo-header {
    padding: 10px 30px 50px 15px;
}

a {
    text-decoration: none;

}

.link-principal:active {
    color: rgb(94, 94, 223);
    text-decoration-line:underline;
  }

.menu-principal li {
    display: inline-block;
    text-align: center;
    font-size: 12px;
    padding: 50px 35px 50px 15px;
}

.link-principal {
    color:darkslategray;
    font-family: 'm-bold';
}

.btn-header {
    background-color: transparent;
    border: 1px solid rgb(94, 94, 223);
    color:rgb(94, 94, 223);
    padding: 8px 15px 8px 15px;
    border-radius: 3px;
    font-family: 'm-bold';
    
}

.btn-header:hover {
    background-color: rgb(94, 94, 223);
    border: 1px solid rgb(94, 94, 223);
    color: white;
    transition: 0.5s;
}

/* End Header */



/* Footer */

.sin-padding{ padding: 0;}

.footer{ padding: 15px 30px;}
.footer, .copyright { background-color: #6c6e71; color: #fff;}
.footer ul, .copyright ul{ list-style: none; color: #fff; padding: 0;}
.footer ul{ font-size:.9rem;}
.footer ul small{ font-size: .9rem; padding-bottom: 10px;}

.copyright { padding: 0 30px;}
.copyright ul { display: flex; justify-content: center; }
.copyright ul li a{ padding-right: 10px; color: #fff; font-size:.85rem;}
.copyright ul li{ font-size:.85rem;}

.copyright .redes-sociales ul{ justify-content: left;}

.footer .items-nav{ display: flex; justify-content: center;}
.footer .items-nav ul{ padding: 0 5px;}
.footer .items-nav ul li{ padding-right:10px; padding-bottom: 10px;} 

.footer .btn{ border: 1px solid #fff; }
.footer .btn a{ color: #fff;}

/* End Footer */